body {
  font-family: Arial, sans-serif;
  background-color: #837b7b;
}

header {
  background-color: #adada6; 
  padding: 20px;
}

.header-content {
  text-align: center;
  margin-bottom: 10px;
}

.header-content h1 {
  font-size: 36px;
  margin: 0;
  color: #181818; 
}

.header-content p {
  font-size: 18px;
  margin: 0;
  color: #6a6a5f; 
}

nav#menu {
  background-color: #bcbec4; 
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav#menu ul li {
  display: inline;
  margin-right: 20px;
}

nav#menu ul li a {
  text-decoration: none;
  color: #000000; /* White color for the links */
  font-weight: bold;
}

nav#menu ul li a:hover {
  text-decoration: underline;
}










/* --------------------------------- */



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #a29999;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2em;
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container ul li {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #c3b6b6;
}

.container ul li h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #555;
}

.container ul li img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.container ul li p {
  margin: 5px 0;
  color: #666;
}